<header class="bg-dark text-light py-4">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="text-white">Kutak dobre hrane</h1>
      <nav>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/dodajRestoran">Dodaj restoran</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/dodajKonobara">Dodaj konobara</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/requests">Zahtevi za registraciju</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn()">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>
          <!-- Add more navigation links as needed -->
        </ul>
      </nav>
    </div>
  </div>
</header>



<h2>Guests</h2>
<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Akcija</th>
      <!-- Add more columns as needed -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let guest of guests">
      <td>{{ guest.korisnickoIme }}</td>
      <td>{{ guest.ime }}</td>
      <td>{{ guest.prezime }}</td>
      <td>{{ guest.mejl }}</td>
      <td>
        <button (click)="deactivateUserGuest(guest.korisnickoIme)">Deactivate</button>
        <button (click)="navigateToEditUser(guest)">Edit</button>
      </td>
      <!-- Add more columns as needed -->
    </tr>
  </tbody>
</table>

<h2>Waiters</h2>
<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Akcija</th>
      <!-- Add more columns as needed -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let waiter of waiters">
      <td>{{ waiter.korisnickoIme }}</td>
      <td>{{ waiter.ime }}</td>
      <td>{{ waiter.prezime }}</td>
      <td>{{ waiter.mejl }}</td>
      <td>
        <button (click)="deactivateUserKonobar(waiter.korisnickoIme)">Deactivate</button>
        <button (click)="navigateToEditUser(waiter)">Edit</button>
      </td>
    </tr>
  </tbody>
</table>

<h2>Restaurants</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Akcija</th>
      <!-- Add more columns as needed -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let restaurant of restaurants">
      <td>{{ restaurant.ime }}</td>
      <td>{{ restaurant.adresa }}</td>
      <td>{{ restaurant.tip }}</td>
      <td>
        <button (click)="dodajMapu(restaurant.ime)">Dodaj mapu</button>
       
      </td>
      <!-- Add more columns as needed -->
    </tr>
  </tbody>

  <h2>Deaktivirani nalozi </h2>
<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Tip korisnika</th>
      <th>Akcija</th>
      <!-- Add more columns as needed -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.korisnickoIme }}</td>
      <td>{{ user.ime }}</td>
      <td>{{ user.prezime }}</td>
      <td>{{ user.mejl }}</td>
      <td>{{ user.tip }}</td>
      <td>
        <button (click)="unblockUser(user.korisnickoIme)">Unblock</button>
        
      </td>
      <!-- Add more columns as needed -->
    </tr>
  </tbody>
</table>
<footer class="bg-dark text-light py-3 mt-5">
  <div class="container text-center">
    <hr class="mb-4">
    <p>&copy; {{ currentYear }} Kutak dobre hrane. All rights reserved.</p>
  </div>
</footer>
