<header class="bg-dark text-light py-4">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="text-white">Kutak dobre hrane</h1>
      <nav>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/profil">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/rezervacije">Rezervacije</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/porudzbine">Dostava</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" >Statistika</a>
          </li>
          <!-- Add more navigation links as needed -->
        </ul>
      </nav>
    </div>
  </div>
</header>

<div>
  <h2>Neobrađene Rezervacije</h2>
  <ul>
    <li *ngFor="let reservation of neobradjeneRezervacije">
      Ime gosta: {{ reservation.imeGosta }}, Broj stola: {{ reservation.brojStola }}
      <button (click)="potvrdiRezervaciju(reservation)">Potvrdi</button>
      <button (click)="odbijRezervaciju(reservation)">Odbij</button>
    </li>
  </ul>
  <canvas id="canvas" width="600" height="200"></canvas>
</div>
<footer class="bg-dark text-light py-3 mt-5">
  <div class="container text-center">
    <hr class="mb-4">
    <p>&copy; {{ currentYear }} Kutak dobre hrane. All rights reserved.</p>
  </div>
</footer>