<div class="wrapper">
  <header class="header-bg text-light py-4">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="text-white">
          <i class="fas fa-utensils"></i> Kutak dobre hrane
        </h1>
        <nav>
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link text-light" routerLink="/dodajRestoran">Dodaj restoran</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" routerLink="/dodajKonobara">Dodaj konobara</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" routerLink="/requests">Zahtevi za registraciju</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" routerLink="/admin">Pocetna</a>
            </li>
            <!-- Add more navigation links as needed -->
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <div class="main-bg container my-5 p-4 rounded shadow-sm border-primary flex-fill">
    <h2 class="text-center mb-4 text-primary">Registracija konobara</h2>
    <form (ngSubmit)="register()" #registrationForm="ngForm" novalidate>
      <div class="form-group">
        <label for="korisnickoIme">Korisničko ime:</label>
        <input type="text" id="korisnickoIme" name="korisnickoIme" [(ngModel)]="waiter.korisnickoIme" class="form-control" required>
        <div *ngIf="formErrors.korisnickoIme" class="error text-danger">{{ formErrors.korisnickoIme }}</div>
      </div>
      <div class="form-group">
        <label for="lozinka">Lozinka:</label>
        <input type="password" id="lozinka" name="lozinka" [(ngModel)]="waiter.lozinka" class="form-control" required>
        <div *ngIf="formErrors.lozinka" class="error text-danger">{{ formErrors.lozinka }}</div>
      </div>
      <div class="form-group">
        <label for="ime">Ime:</label>
        <input type="text" id="ime" name="ime" [(ngModel)]="waiter.ime" class="form-control" required>
        <div *ngIf="formErrors.ime" class="error text-danger">{{ formErrors.ime }}</div>
      </div>
      <div class="form-group">
        <label for="prezime">Prezime:</label>
        <input type="text" id="prezime" name="prezime" [(ngModel)]="waiter.prezime" class="form-control" required>
        <div *ngIf="formErrors.prezime" class="error text-danger">{{ formErrors.prezime }}</div>
      </div>
      <div class="form-group">
        <label for="pol">Pol:</label>
        <select id="pol" name="pol" [(ngModel)]="waiter.pol" class="form-control" required>
          <option value="">Izaberite</option>
          <option value="M">Muški</option>
          <option value="F">Ženski</option>
        </select>
        <div *ngIf="formErrors.pol" class="error text-danger">{{ formErrors.pol }}</div>
      </div>
      <div class="form-group">
        <label for="adresa">Adresa:</label>
        <input type="text" id="adresa" name="adresa" [(ngModel)]="waiter.adresa" class="form-control" required>
        <div *ngIf="formErrors.adresa" class="error text-danger">{{ formErrors.adresa }}</div>
      </div>
      <div class="form-group">
        <label for="kontaktTelefon">Kontakt telefon:</label>
        <input type="text" id="kontaktTelefon" name="kontaktTelefon" [(ngModel)]="waiter.kontaktTelefon" class="form-control" required>
        <div *ngIf="formErrors.kontaktTelefon" class="error text-danger">{{ formErrors.kontaktTelefon }}</div>
      </div>
      <div class="form-group">
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" [(ngModel)]="waiter.mejl" class="form-control" required>
        <div *ngIf="formErrors.email" class="error text-danger">{{ formErrors.email }}</div>
      </div>
      <div class="form-group">
        <label for="restoran">Restoran:</label>
        <select id="restoran" name="restoran" [(ngModel)]="waiter.restoran" class="form-control" required>
          <option *ngFor="let restaurant of restaurants" [value]="restaurant.ime">{{ restaurant.ime }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="profilnaSlika">Profilna slika: &nbsp;</label>
        <input type="file" id="profilePicture" (change)="onFileSelected($event)" accept="image/png, image/jpeg">
        <div *ngIf="formErrors.profilnaSlika" class="error text-danger">{{ formErrors.profilnaSlika }}</div>
    </div>
      <button type="submit" class="btn btn-primary">Registruj se</button>
    </form>
  </div>
  <footer class="footer-bg text-light py-3 mt-5">
    <div class="container text-center">
      <hr class="bg-warning mb-4">
      <p>&copy; {{ currentYear }} Kutak dobre hrane. Sva prava zadržana.</p>
    </div>
  </footer>
</div>