<header class="bg-dark text-light py-4">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="text-white">Kutak dobre hrane</h1>
      <nav>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/dodajRestoran">Dodaj restoran</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/dodajKonobara">Dodaj konobara</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/requests">Zahtevi za registraciju</a>
          </li>
          <!-- Add more navigation links as needed -->
        </ul>
      </nav>
    </div>
  </div>
</header>


<h2>Zahtevi</h2>
<table *ngIf="korisnici && korisnici.length > 0">
  <thead>
    <tr>
      <th>Username</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Akcija</th>
      <!-- Add more columns as needed -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let korisnik of korisnici">
      <td>{{ korisnik.korisnickoIme }}</td>
      <td>{{ korisnik.ime }}</td>
      <td>{{ korisnik.prezime }}</td>
      <td>{{ korisnik.mejl }}</td>
      <td>
        <button (click)="activateUser(korisnik.korisnickoIme)">Activate</button>
      </td>
      <td>
        <button (click)="rejectUser(korisnik.korisnickoIme)">Reject</button>
      </td>
      <!-- <td>
        <button (click)="deactivateUserGuest(user.korisnickoIme)">Decline</button>
      </td> -->
      <!-- Add more columns as needed -->
    </tr>
  </tbody>
</table>
<div *ngIf="korisnici && korisnici.length === 0">
    <p>Nema korisnika tipa gost sa statusom pending.</p>
  </div>

  <footer class="bg-dark text-light py-3 mt-5">
    <div class="container text-center">
      <hr class="mb-4">
      <p>&copy; {{ currentYear }} Kutak dobre hrane. All rights reserved.</p>
    </div>
  </footer>