<div class="wrapper">
    <header class="header-bg text-light py-4">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h1 class="text-white"><i class="fas fa-utensils"></i> Kutak dobre hrane</h1>
          <nav>
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link text-light" routerLink="/profilGost">Profil</a>
              </li>
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" routerLink="/restoraniGost">Restorani</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" routerLink="/dostava">Dostava</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" routerLink="/statistika" >Statistika</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
  
    <div class="main-bg container my-5 p-4 rounded shadow-sm border-primary flex-fill">
      <h2 class="text-center mb-4 text-primary">Edit User</h2>
      <div *ngIf="user">
        <form (ngSubmit)="onSubmit()">
        
         
          <div class="form-group">
            <label for="ime">Ime:</label>
            <input type="text" id="ime" [(ngModel)]="user.ime" name="ime" class="form-control" required>
            <div *ngIf="formErrors.ime" class="error text-danger">{{ formErrors.ime }}</div>
          </div>
          <div class="form-group">
            <label for="prezime">Prezime:</label>
            <input type="text" id="prezime" [(ngModel)]="user.prezime" name="prezime" class="form-control" required>
            <div *ngIf="formErrors.prezime" class="error text-danger">{{ formErrors.prezime }}</div>
          </div>
      
          <div class="form-group">
            <label for="adresa">Adresa:</label>
            <input type="text" id="adresa" [(ngModel)]="user.adresa" name="adresa" class="form-control" required>
            <div *ngIf="formErrors.adresa" class="error text-danger">{{ formErrors.adresa }}</div>
          </div>
          <div class="form-group">
            <label for="kontaktTelefon">Kontakt telefon:</label>
            <input type="text" id="kontaktTelefon" [(ngModel)]="user.kontaktTelefon" name="kontaktTelefon" class="form-control" required>
            <div *ngIf="formErrors.kontaktTelefon" class="error text-danger">{{ formErrors.kontaktTelefon }}</div>
          </div>
          <div class="form-group">
            <label for="mejl">E-mail:</label>
            <input type="email" id="mejl" [(ngModel)]="user.mejl" name="mejl" class="form-control" required>
            <div *ngIf="formErrors.email" class="error text-danger">{{ formErrors.email }}</div>
          </div>
          <div class="form-group">
            <label for="brojKreditneKartice">Broj kreditne kartice:</label>
            <input type="text" id="brojKreditneKartice" [(ngModel)]="user.brojKreditneKartice" name="brojKreditneKartice" class="form-control" required>
            <div *ngIf="formErrors.brojKreditneKartice" class="error text-danger">{{ formErrors.brojKreditneKartice }}</div>
          </div>

          <div *ngIf="user.profilnaSlika">
            <label for="profilnaSlika">Profilna slika: &nbsp;</label>
            <img *ngIf="user.profilnaSlika === 'default_profile.jpg'; else customImage" src="/assets/default_profile.jpg" alt="Profile Picture">
            <ng-template #customImage>
              <img [src]="imageBaseUrl + user.profilnaSlika" alt="Profile Picture">
            </ng-template>
            <br>
            <br>
            <div class="form-group">
                <label for="profilnaSlika">Azuriraj profilnu sliku: &nbsp;</label>
                <input type="file" id="profilePicture" (change)="onFileSelected($event)" accept="image/png, image/jpeg">
                <div *ngIf="formErrors.profilnaSlika" class="error text-danger">{{ formErrors.profilnaSlika }}</div>
            </div>
           
         
           
          </div>
         
          <button type="submit" class="btn btn-primary" >Update</button>
        </form>
      </div>

     
    </div>
    <footer class="footer-bg text-light py-3 mt-5">
      <div class="container text-center">
        <hr class="bg-warning mb-4">
        <p>&copy; {{ currentYear }} Kutak dobre hrane. All rights reserved.</p>
      </div>
    </footer>
  </div>