<header class="bg-dark text-light py-4">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="text-white">Kutak dobre hrane</h1>
        <nav>
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link text-light" routerLink="/dodajRestoran">Dodaj restoran</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" routerLink="/dodajKonobara">Dodaj konobara</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" routerLink="/requests">Zahtevi za registraciju</a>
            </li>
            <!-- Add more navigation links as needed -->
          </ul>
        </nav>
      </div>
    </div>
  </header>

<h2>Add New Restaurant</h2>
<form (ngSubmit)="onSubmit()">
  <label>
    Name:
    <input type="text" [(ngModel)]="restaurant.ime" name="ime" required>
  </label>
  <br>
  <label>
    Address:
    <input type="text" [(ngModel)]="restaurant.adresa" name="adresa" required>
  </label>
  <br>
  <label>
    Type:
    <select [(ngModel)]="restaurant.tip" name="tip" required>
      <option *ngFor="let type of types" [value]="type">{{ type }}</option>
    </select>
  </label>
  <label>
    Short Description:
    <textarea [(ngModel)]="restaurant.kratakOpis" name="kratakOpis" required></textarea>
  </label>
  <label>
    Contact Person:
    <input type="text" [(ngModel)]="restaurant.kontaktOsoba" name="kontaktOsoba" required>
  </label>
  <label>
    Working Hours From:
    <input type="time" [(ngModel)]="restaurant.workingHoursFrom" name="workingHoursFrom" required>
  </label>
  <label>
    Working Hours To:
    <input type="time" [(ngModel)]="restaurant.workingHoursTo" name="workingHoursTo" required>
  </label>

  <br>
  <button type="submit">Add Restaurant</button>
</form>
<footer class="bg-dark text-light py-3 mt-5">
    <div class="container text-center">
      <hr class="mb-4">
      <p>&copy; {{ currentYear }} Kutak dobre hrane. All rights reserved.</p>
    </div>
  </footer>