
<header class="header-bg text-light py-4">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="text-white">
        <i class="fas fa-utensils"></i> Kutak dobre hrane
      </h1>
      <nav>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/login">Prijavi se</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/registracija">Registruj se</a>
          </li>

        </ul>
      </nav>
    </div>
  </div>
</header>

<div class="main-bg container my-5">
  <h2 class="text-center mb-4 text-primary">Početna stranica - Kutak dobre hrane</h2>

  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card shadow-sm border-primary">
        <div class="card-body">
          <h4 class="card-title text-warning"> Opste informacije</h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-light">Ukupan broj restorana: {{ restorani.length }}</li>
            <li class="list-group-item bg-light">Ukupan broj registrovanih gostiju: {{ brojRegistrovanihGostiju }}</li>
            <li class="list-group-item bg-light">Ukupan broj rezervacija u poslednjih 24h: {{ brojRezervacijaPoslednjih24h }}</li>
            <li class="list-group-item bg-light">Ukupan broj rezervacija u poslednjih 7 dana: {{ brojRezervacijaPoslednjih7Dana }}</li>
            <li class="list-group-item bg-light">Ukupan broj rezervacija u poslednjih mesec dana: {{ brojRezervacijaPoslednjegMeseca }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card shadow-sm border-primary">
        <div class="card-body">
          <h4 class="card-title text-warning">Lista restorana</h4>
          <div class="form-row mb-3">
            <div class="col">
             
              <input type="text" class="form-control" placeholder="Unesite naziv restorana" [(ngModel)]="nazivQuery">
            </div>
            <div class="col">
              
              <input type="text" class="form-control" placeholder="Unesite adresu restorana" [(ngModel)]="adresaQuery">
            </div>
            <div class="col">
             
              <input type="text" class="form-control" placeholder="Unesite tip restorana" [(ngModel)]="tipQuery">
            </div>
            <div class="col">
              
              <button class="btn btn-outline-primary" type="button" (click)="search()">Pretraži</button>
            </div>
          </div>
          <table class="table table-striped table-hover">
       
            <thead class="bg-warning text-dark">
              <tr>
                <th (click)="sortBy('ime')" class="sortable">
                  Naziv
                  <span class="sort-icon">
                    <i class="fas fa-sort-alpha-down ml-2" *ngIf="sortColumn === 'ime' && sortDirection === 'asc'"></i>
                    <i class="fas fa-sort-alpha-up ml-1" *ngIf="sortColumn === 'ime' && sortDirection === 'desc'"></i>
                  </span>
                </th>
                <th (click)="sortBy('adresa')" class="sortable">
                  Adresa
                  <span class="sort-icon">
                    <i class="fas fa-sort-alpha-down ml-2" *ngIf="sortColumn === 'adresa' && sortDirection === 'asc'"></i>
                    <i class="fas fa-sort-alpha-up ml-1" *ngIf="sortColumn === 'adresa' && sortDirection === 'desc'"></i>
                  </span>
                </th>
                <th (click)="sortBy('tip')" class="sortable">
                  Tip restorana
                  <span class="sort-icon">
                    <i class="fas fa-sort-alpha-down ml-2" *ngIf="sortColumn === 'tip' && sortDirection === 'asc'"></i>
                    <i class="fas fa-sort-alpha-up ml-1" *ngIf="sortColumn === 'tip' && sortDirection === 'desc'"></i>
                  </span>
                </th>
                <th>
                  Konobari
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let restoran of filteredRestaurants">
                <td>{{ restoran.ime }}</td>
                <td>{{ restoran.adresa }}</td>
                <td>{{ restoran.tip }}</td>
                <td>
                  <!-- Pozivamo getKonobari metodu za prikaz konobara -->
                  <ul>
                    <li *ngFor="let konobar of konobari[restoran.ime]">
                      {{ konobar.ime }} {{konobar.prezime}}
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer-bg text-light py-3 mt-5">
  <div class="container text-center">
    <hr class="bg-warning mb-4">
    <p>&copy; {{ currentYear }} Kutak dobre hrane. All rights reserved.</p>
  </div>
</footer>

